/* .client-home-container{
    width: calc(100% - 194px);
    height: calc(100vh - 100px);
} */
.client-home{
    overflow: hidden;
    
}
.suggestions-cont{
    width: 400px;
    height: calc(100% - 130px);
    position: absolute;
    right: 10px;
    top: 115px;
    overflow: auto;
}

.return-btn{
    position: absolute;
    left: 200px;
    bottom: 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: #081B38;
    color: #E8EDFF;
    outline: none;
    border: 2px solid blue;
    border-radius: 20px;

}
