/* .client-home-container{
    width: calc(100% - 194px);
    height: calc(100vh - 100px);
} */
.client-home{
    overflow: hidden;
    
}
.suggestions-cont{
    width: 350px;
    height: calc(100% - 130px);
    position: absolute;
    right: 10px;
    top: 115px;
    overflow: auto;
}
