.flex{
    display: flex;
}
.center{
    justify-content: center;
    align-items: center;
}
.column{
    flex-direction: column;
}
.spaceBetween{
    justify-content: space-between;
}
.spaceEvenly{
    justify-content: space-evenly;
}
.spaceAround{
    justify-content: space-around;
}