.sug-card-container{
    width: 95%;
    height: 300px;
    border: 2px solid #081B38;
    background-color: #E8EDFF;
    border-radius: 20px;
    font-weight: bold;
    z-index: 0;
    cursor: pointer;
    overflow: hidden;

}
.room-img-cont{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}
.room-desc-cont{
    width: 100%;
    height: 10%;
    
}
.sugg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moving-desc{
    display: inline-block;
    white-space: nowrap;
    animation: moveDesc 60s linear infinite; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
@keyframes moveDesc {
    0% {
      transform: translateX(30%);
    }
    100% {
      transform: translateX(-100%); 
    }
  }